body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  /* width: 100vw; */
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 80px; */
  margin-top: -10px;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 10vh;
  z-index: 1;
}
.logo,
a {
  margin: 0 10px;
  text-decoration: none;
}
.log {
  margin-top: 20px;
}
.acount-pic {
  margin-left: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  /* height: 100%; */
  object-fit: cover;
  height: 35px;
  border-radius: 50%;
  position: relative;
  margin-left: 5px;
}
#after {
  content: "";
  position: relative;
  right: 12px;
  top: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgb(59, 221, 83);
  border: 3px solid white;
}
#bell {
  background-color: rgb(192, 182, 182);
  display: flex;
  justify-self: center;
  border-radius: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
}
.bell {
  content: "";
  position: relative;
  right: 12px;
  top: -5px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: rgb(136, 37, 228);
  /* border: 3px solid white; */
}

#welcome {
  /* padding-top: 100px; */
  height: 30vh;
  background-color: rgb(92, 92, 242);
  color: white;
  padding: 20px;
  top: 70px;
  padding-left: 15%;
  position: relative;
  padding-top: 30px;
}

h1 {
  margin: 0;
  margin-top: 10px;
}
.welcome-p {
  color: rgb(209, 179, 179);
  padding-bottom: 30px;
  padding-top: 20px;
}
.courses-btn {
  background-color: green;
  border-radius: 5px;
  border-style: none;
  padding: 8px;
  color: white;
  font-weight: bold;
}
.instructor-btn {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  padding: 8px;
  color: black;
  font-weight: bold;
  /* margin-bottom: 10px; */
}
#hero-img {
  position: absolute;
  top: 0;
  left: 54%;
  bottom: 0;
  object-fit: cover;
  height: 100%;
}
.communite {
  display: flex;
  margin-top: 100px;
  margin-bottom: 10px;
  padding-left: 15%;
  padding-bottom: 15px;
}
.communi {
  padding-right: 90px;
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.communite iconify-icon {
  padding: 10px;
  background-color: rgb(223, 172, 153);
  border-radius: 50%;
  margin-right: 10px;
}
.communi h4,
p {
  margin: 0;
  font-size: 15px;
}
p {
  font-size: 12px;
}

.content {
  background-color: rgb(219, 200, 200);
  padding-left: 15%;
  padding-top: 20px;
  /* height: 1200px; */
}
.information {
  padding-top: 15px;
}
.recomend {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.recommended {
  width: 100%;
  border-radius: 5px;
  display: flex;
  /* margin-right: 10px; */
  /* justify-content: space-between; */
}
.recommended p,
span,
iconify-icon {
  padding-left: 10px;
  padding-top: 10px;
}
#recomend {
  font-size: 1.1em;
  padding-bottom: 10px;
  padding-top: 10px;
}
.graph1 {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
span {
  font-size: 12px;
}
/* .info-communite {
  font-size: 10px;
} */
footer {
  display: flex;
  padding-left: 15%;
  background-color: rgb(219, 200, 200);
  font-size: 14px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.policy {
  margin-left: 40%;
}
.instructor-img {
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.instructors {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 15px;
}
.new-price {
  font-weight: bold;
}
.old-price {
  text-decoration: line-through;
  color: grey;
}
.rating-num {
  color: orangered;
}
.total-hour {
  color: grey;
}
.lang {
  width: 20%;
  margin-right: 15px;
  background-color: white;
  border-radius: 5px;
}
.next {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 50%;
}
.next > iconify-icon {
  padding-bottom: 8px;
  padding-right: 8px;
}
.overflow {
  /* display: none; */
  visibility: hidden;
  transform: translateX(-38px);
}
.next:hover {
  cursor: pointer;
  zoom: 0.7;
}
.back {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 50%;
  transform: translateX(260px);
}
.back > iconify-icon {
  padding-bottom: 8px;
  padding-right: 8px;
}

.back:hover {
  cursor: pointer;
  zoom: 0.7;
}
.back {
  display: none;
}
/* .next:hover.lang {
} */
